.signup-form__verification-header{
    text-align: center;
}
.personal-details__title {
    margin-top: 40px;
    font-size: 1.25rem;
    color: #111827;
}

.signup-form__input{
    border-radius: 5px;
}