:root[data-env="development"]{
  --accent1-color: #2563eb;
  --accent2-color: #1fc3ff;
}

:root[data-env="demo"]{
  --accent1-color : #B906BC;
  --accent2-color : #FD3E6C;
}

.signup-form__verification-header{
    text-align: center;
}
.personal-details__title {
    margin-top: 40px;
    font-size: 1.25rem;
    color: #111827;
}

.signup-form__input{
    border-radius: 5px;
}